body {
  font-family: 'Segoe UI', sans-serif;
  background: #fdfdfd;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 30px;
  background: #ffe5ec;
}

.filters {
  margin: 20px 0;
}

.filters button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  background: #ff6b81;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.filters button:hover {
  background: #ff4757;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

.gallery-item {
  width: 300px;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.gallery-item img {
  width: 100%;
  display: block;
  transition: transform 0.4s;
  border-radius: 10px;
}

.gallery-item:hover img {
  transform: scale(1.1);
}
